@import "App";

.profile {
  .profile-background {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
  }
  .profile-picture {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 64px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  .user-profile-data {
    width: 100%;
    position: absolute;
    top: 156px;
    right: 0;
    left: 0;
    .user-info {
      padding-left: 20px;
      padding-right: 20px;
      justify-content: space-between;
      display: flex;

      h3,
      h2 {
        margin: 0;
        color: $primary-orange;
      }
      h3 {
        font-size: 16px;
      }
      h2 {
        font-size: 18px;
      }
    }
  }
  .qr-profile{
    width: 100%;
    position: absolute;
    top: 320px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    .info-time {
        font-weight: 700;
        margin: 0;
        color: $primary-orange;
        font-size: 16px;
      }
      .qr-code{
        padding-top: 24px;
      }
  }
}
